/.env
/__pycache__
/Save-Res/save_content_x_bot.session
/Save-Res/save_content_x_bot.session-journal
/Hades.db
/Bot/__pycache__
/Save-Res/__pycache__
/Save-Res/session
/abyss/__pycache__
/abyss/save_content_x_bot.session
/abyss/save_content_x_bot.session-journal